/* Reset Browser Inconsistencies*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Flag-related Styles */
.container {
    margin: 6px;
    padding: 5px;
    width: 550px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px #CCCCCC;
    float: left;
}

.container .container {
    border: none;
    box-shadow: none;
    width: 46%;
    overflow: hidden;
    display: inline;
    float: right;
    margin-left: 5px;
}

.container .title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.container .container div {
    width: 48%;
}

.title {
    background-color: #BBBBBB;
    font-size: 19px;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
    padding: 2px;
    width: 50%;
    margin: 0 auto;
}

.flag {
    width: 249px;
    height: 117px;
    box-shadow: 5px 5px 2px #777777;
    font-size: 0px;
    margin-bottom: 25px;
}

.america td:first-child {
    width: 40%;
}

.america tr:nth-child(odd) {
    background-color: red;
    color: red;
}

.america tr:first-child td:first-child {
    background-color: blue;
}

.red {
    color: red;
    background-color: red;
}

.white {
    color: white;
    background-color: white;
}

.blue {
    color: blue;
    background-color: blue;
}

