/*
    Contains all the main styles used in this project
*/

/* Reset Browser Inconsistencies*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Project Styles */

body {
    display: none;
    background-color: white;
    font-family: sans-serif;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: black;
    font-size: 12px;
}

#activity_menu {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 40%;
    transform: translate(-50%, -60%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px #343434;
    text-align: center;
    padding: 5px;
}

#activity_menu h2 {
    position: relative;
    top: 15px;
    color: black;
    margin: 20px;
    font-size: 24px;
}

#activity_menu button {
    top: 30px;
    display: block;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

#activity_menu button:hover {
    background-color: skyblue;
}

#back_button {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: block;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
}

#activity_two_view {
    position: fixed;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px #343434;
    text-align: center;
    padding: 5px;
}

#activity_two_view h2 {
    position: relative;
    top: 15px;
    color: black;
    font-size: 22px;
}

#activity_two_view input {
    border: 1px solid grey;
}

#invalid_form_message, #invalid_registration_message, #invalid_login_message, #invalid_secret_message {
    font-size: 12px;
    color: red;
    margin: 5px;
}

#activity_three_view {
    position: fixed;
    width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px #343434;
    text-align: center;
    padding: 5px;
}

#register_container {
    margin-top: 50px;
    border-right: 1px solid darkgrey;
    float: left;
    width: 48%;
}

#login_container {
    margin-right: 80px;
    margin-top: 50px;
    float: right;
}

#activity_three_view input {
    border: 1px solid grey;
    margin: 5px;
}

#activity_three_view h2 {
 position: relative;
 top: 15px;
 color: black;
 font-size: 22px;
}

.clickout {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#secret_string_view {
    display: none;
    position: fixed;
    width: 20%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color: white;
}

#secret_string_view h2 {
    font-size: 22px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

#secret_string_view input {
    border: 1px solid grey;
    margin: 5px;
}

#successful_course_registration_view {
    display: none;
    position: fixed;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background-color: white;
}

#successful_course_registration_view h2 {
    font-size: 22px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}